/**
 * Template
 */

body {
    background: #fafafa;
}

#p-header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    background: #fff;
}

#p-footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, .08);
    background: #fff;
}

#p-content {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    overflow: auto;
    padding: 40px;
    margin: 100px auto 70px auto;
    max-width: 1200px;
    background: #fff;
}

#p-messages {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
}

#l-logo {
    text-decoration: none;
    border:none;
    color: #000;
    transition: opacity .15s ease-in-out;
}

#l-logo:hover {
    opacity: 0.3
}

#l-logo:hover {
    opacity: 0.5;
}

#p-search-bar {
    flex: 9999;
    max-width: 1200px;
}

#p-profile-menu {
    position: absolute;
    padding: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    right: 20px;
    top: 65px;
    z-index: 9999;
    background: #fff;
    width: 200px;
}

.alert {
    display: block;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.dialog + #p-content {
    filter: blur(4px);
    opacity: 0.5;
    pointer-events: none;
    box-shadow: none;
}


/**
 * Content
 */

.flex-basis-0 {
    flex-basis: 0;
}


/**
 * Content
 */

.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
}

.title {
    margin-top: 0;
    display: inline-block;
    float: left;
    font-size: 2em;
    font-weight: bold;
}

.align-right {
    display: flex;
    justify-content: end;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.style-button {
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 4px 24px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.style-button:hover {
    text-decoration: none;
    color: black;
}

.logo-preview {
    max-width: 200px;
    max-height: 200px;
}

.p-avatar {
    width: 50%;
}

.g-avatar {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 1%;
}

.g-avatar-thumbnail {
    max-width: 50px;
    max-height: 50px;
}

.profile-info {
    display: block;
    margin: 0.3em 0 0;
    font-size: 1.3em;
}

.hide {
    display: none !important;
}

.vw-50 {
    width: 50vw;
}

.no-ul {
    text-decoration: none !important
}

.sel-float {
    width: auto !important;
    display: inline-block !important;
}
