/**
 * Template
 */

body {
    background: #fafafa;
    overflow: hidden;
}

p {
    text-align: justify;
}

#p-header {
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    background: #fff;
}

#p-footer {
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, .08);
    background: #fff;
}

#p-main {
    position: absolute;
    top: 80px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#p-content {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px;
    background: #fff;
}

#p-messages {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    z-index: 99999;
}

#p-help {
    max-height: 80%;
    overflow-y: auto;
    max-width: 800px;
}

#l-logo {
    text-decoration: none;
    border: none;
    color: #000;
    transition: opacity .15s ease-in-out;
}

#l-logo:hover {
    opacity: 0.3
}

#l-logo:hover {
    opacity: 0.5;
}

#p-search-bar {
    flex: 9999;
    max-width: 1200px;
}

#p-profile-menu {
    position: absolute;
    padding: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    right: 20px !important; /* Bootstrap tries to overrule */
    top: 60px;
    left: auto;
    z-index: 9999;
    background: #fff;
    width: 220px;
    display: none;
}

#p-avatar-thumbnail {
    margin: -10px;
    padding: 10px;
}

#p-avatar-thumbnail img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: opacity .15s ease-in-out;
}

#p-avatar-thumbnail:hover #p-profile-menu {
    display: block;
}

#p-avatar-thumbnail:hover img {
    opacity: 0.5;
}

#f-help\:cb-help, #f-search-header\:cb-search {
    background-repeat: no-repeat;
    background-size: auto 16px;
    background-position: left 12px center;
    padding-left: 36px;
}

#f-help\:cb-help {
    background-image: url('/resources/images/help.png');
}

#f-search-header\:cb-search {
    background-image: url('/resources/images/search.png');
}

#l-statistics::before, #l-imprint::before, #l-privacy::before {
    margin-right: 8px;
    vertical-align: middle;
    white-space: nowrap;
}

#l-statistics::before {
    content: url('/resources/images/statistics.png');
}

#l-imprint::before {
    content: url('/resources/images/imprint.png');
}

#l-privacy::before {
    content: url('/resources/images/privacy.png');
}

.header-search-suggestions {
    position: absolute;
    top: 60px;
    left: 20%;
    right: 20%;
}

.alert {
    display: block;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.dialog + #p-main {
    filter: blur(4px);
    opacity: 0.5;
    pointer-events: none;
    box-shadow: none;
}


/**
 * Bootstrap Hacks
 */

.flex-basis-0 {
    flex-basis: 0;
}


/**
 * Content
 */

.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
}

.align-right {
    display: flex;
    justify-content: end;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

.text-justify {
    text-align: justify;
}

.img-size-small {
    max-height: 200px;
}

.img-size-mini {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.logo-preview {
    max-width: 200px;
    max-height: 200px;
}

.p-avatar {
    width: 50%;
    margin: 1%;
}

.g-avatar {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 1%;
}

.g-avatar-thumbnail {
    max-width: 50px;
    max-height: 50px;
}

.profile-info {
    display: block;
    margin: 0.3em 0 0;
    font-size: 1.3em;
}

[id$="p-avatar"] {
    width: 300px;
    height: 300px;
    margin-right: 30px;
}

[id$="p-avatar"] img {
    object-fit: cover;
}

.button {
    margin: 1%;
}

.hide {
    display: none !important;
}

.vw-90 {
    width: 90vw;
}

.no-ul {
    text-decoration: none !important
}

.sel-float {
    width: auto !important;
    display: inline-block !important;
}

.trashcan-small {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.search {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 1%;
    text-decoration: none;
    color: black;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.vote-cast {
    background-color: #0a58ca;
}

.vote-not-cast {
    background-color: #157347;
}

.form-check-input {
    margin-left: 1%;
    margin-right: 1%;
}

pre {
    padding: 2px;
    font-size: 105% !important;
    border-radius: 6px;
}

pre code {
    font-size: 100% !important;
}

code {
    font-family: "Fira Code", Consolas, monospace;
    padding: 2px;
    font-size: 105% !important;
    border-radius: 6px;
}

#ot-stack-trace {
    max-width: 1100px;
    overflow: auto;
}
