.h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

.error {
    color: #f00;
}

input.error, textarea.error {
    border-color: #f00;
}

.header {
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.footer {
    position: absolute;
    height: 45px;
    bottom: 0;
    padding-top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.footerElement {
    margin-left: 5px;
    margin-right: 5px;
}

.organizationName {
    font-size: 18px;
}

.headerMenu {
    display: inline-block;
    margin-right: 50px;
    margin-top: 30px;
    float: right;
}

.dropdown {
    z-index: 2;
    position: absolute;
    text-align: left;
    padding: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    right: 60px;
    top: 80px;
}

.titlebar {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    left: 5%;
    right: 5%;
    top: 130px;
    height: 50px;
    position: absolute;
}

.title {
    margin-top: 0;
    display: inline-block;
    float: left;
    font-size: 2em;
    font-weight: bold;
}

.content {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    overflow: auto;
    padding: 10px;
    left: 5%;
    right: 5%;
    top: 195px;
    bottom: 65px;
    position: absolute;
}

.h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.67em 0;
    font-weight: bold;
}

.align-right {
    display: flex;
    justify-content: end;
}

.align-center {
    display: flex;
    justify-content: center;
}

.button {
    margin: 1%;
}

.command-link {
    margin: 1%;
}

.col-sm-2 {
    background-color: #f3f3f3;
    height: 100%;
}

.col-sm-8 {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
    height: 100%;
    padding: 1%;
}

.p-avatar {
    width: 50%;
}

.g-avatar {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 1%;
}

.profile-info {
    display: block;
    margin: 0.3em 0 0;
    font-size: 1.3em;
}

.hide {
    display: none !important;
}

.vw-50 {
    width: 50vw;
}

.no-ul {
    text-decoration: none !important
}

.sel-float {
    width: auto !important;
    display: inline-block !important;
}
