body {
    background: #e0fde0;
}

#p-header {
    background: #228b22;
    color: black;
}

#p-header #ot-comp-name {
    color: black;
}

#p-footer {
    background: #228b22;
    color: black;
}

#p-footer a {
    color: black;
}

#p-footer a:hover {
    color: #e0fde0;
}

#p-content {
    background: #fff;
}

#p-content a {
    color: #228b22;
}

#p-profile-menu {
    background-color: #e0fde0;
    color: black;
}

#p-profile-menu a {
    color: black;
}

#p-profile-menu a:hover {
    color: #228b22;
}

.btn-primary, .btn-secondary, .btn-outline-primary {
    border-color: #228b22;
}

.btn-outline-primary {
    background-color: white;
    color: #004600;
}

.btn-outline-primary:hover {
    background-color: cadetblue;
    border-color: #004600;
}

.btn-primary {
    background-color: #004600;
    color: white;
}

.btn-primary:focus, .btn-primary:active, .btn-link:focus, .btn-link:active, .btn-outline-primary:focus,
.btn-outline-primary:active {
    border-color: #228b22 !important;
    box-shadow: 0 1px 1px #004600 inset, 0 0 8px #228b22 !important;
}

.btn-primary:hover {
    background-color: #e0fde0;
    color: black !important;
    border-color: #228b22;
}

.btn-secondary {
    background-color: #e0fde0;
    color: #228b22;
}

.btn-secondary:hover {
    background-color: gray;
    color: black !important;
    border-color: #228b22;
}

.btn-link {
    background-color: #fff;
    color: #228b22;
}

.btn-link:hover {
    color: black;
}

.dialog {
    background-color: #e0fde0;
    color: black;
}

.vote-cast {
    background-color: #228b22;
    color: black;
}

.vote-not-cast {
    background-color: #6c757d;
}

.form-check-input:checked {
    background-color: #228b22;
    border-color: #004600;
}

select:focus {
    border-color: #228b22;
    box-shadow: 0 1px 1px #004600 inset, 0 0 8px #228b22;
}

.form-control:focus, .form-check-input:focus, .form-select:focus {
    border-color: #228b22;
    box-shadow: 0 1px 1px #004600 inset, 0 0 8px #228b22;
}
